* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
/* 
color palette rgb codes:
  #C9CBA3
  #FFE1A8 (too banana? using papayawhip instead)
  #E26D5C
  #723D46
  #472D30
*/
body {
  background-color: whitesmoke;
}

#testingBox {
  border: 5px solid purple;
  border-radius: 10px;
  border-style: groove double;
}

input[type='text'],
input {
  padding: 10px;
  border-radius: 25px;
}

input:hover {
  padding: 10px;
}

button {
  padding: 10px;
  border-radius: 25px;
}

textarea {
  background-color: #bef3fa;
}

.rotate {
  animation: rotation 500s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

li {
  padding: 10px;
  text-transform: uppercase;
}

li:hover {
  font-size: 1.2em;
}

label {
  text-transform: uppercase;
}

#portSubmit {
  padding: 10px;
}

#welcomeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#eyeglasses {
  font-size: 3em;
  text-decoration: none;
  /* box-shadow: 0 8px 6px -6px black; */
  display: flex;
  justify-content: center;
  align-items: center;
}

#welcomeText {
  text-transform: uppercase;
  animation: animateWelcomeText 1.5s linear infinite;
}

@keyframes animateWelcomeText {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.containerBoxes {
  font-size: 1.5em;
  text-align: center;
  margin: 1em;
  padding: 0.25em 1em;
  height: 3em;
  border-radius: 10px;
  background-color: #00b4d8;
  box-shadow: 0 8px 6px -6px gray;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
}

.grow {
  transition: all 0.2s ease-in-out;
}
.grow:hover {
  transform: scale(1.1);
}

a: {
  color: #ff006e;
}
a:visited {
  color: #ff006e;
}

.whiteText {
  color: white;
}
