* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #472d30;
}
/* 
color palette rgb codes:
  #C9CBA3
  #FFE1A8 (too banana? using papayawhip instead)
  #E26D5C
  #723D46
  #472D30
*/
body {
  background-color: papayawhip;
}

#testingBox {
  border: 5px solid purple;
  border-radius: 10px;
  border-style: groove double;
}

input[type='text'],
input {
  padding: 10px;
}

button {
  padding: 10px;
}

textarea {
  background-color: #bef3fa;
}

input:hover {
  padding: 10px;
}

.rotate {
  animation: rotation 500s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

li {
  padding: 10px;
  text-transform: uppercase;
}

li:hover {
  font-size: 1.2em;
  box-shadow: 0 2px 6px -6px black;
}

label {
  text-transform: uppercase;
}

#portSubmit {
  padding: 10px;
}

#welcomeText {
  text-transform: uppercase;
}

#welcomeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#eyeglasses {
  font-size: 3em;
  text-decoration: none;
  /* box-shadow: 0 8px 6px -6px black; */
  display: flex;
  justify-content: center;
  align-items: center;
}
